<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h3>Inscription</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form="ngForm">

      <div class="logo">
        <ion-icon color="primary" name="person-circle"></ion-icon>
      </div>

      <div>

        <ion-item>
          <ion-label position="floating" color="primary" >Nom et Prenom</ion-label>
          <ion-input type="email" name="username" [(ngModel)]="user.username" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary" >E-mail</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="user.email" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Direction</ion-label>
          <ion-input type="text" name="direction" [(ngModel)]="user.direction" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Statut</ion-label>
          <ion-select cancelText="Cancel" okText="OK" name="status" [(ngModel)]="user.status">
            <ion-select-option>Administrateur</ion-select-option>
            <ion-select-option>Gestionnaire de salle</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Mot de passe</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="user.password" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Confirmer le Mot de passe</ion-label>
          <ion-input type="password" name="confirmer mot de passe" [(ngModel)]="confirm" #required></ion-input>
        </ion-item>

      </div><br>

      <div>
        <ion-button type = "submit" color="primary" expand="block" shape="round" [disabled]="" (click)='submit(form)'>Enregistrer</ion-button>
      </div>

    </form>

</ion-content>
<!-- <body>
</body> -->