<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion des Réunions</ion-title>
  </ion-toolbar>
  <p class="smallText"><i>Gérez vos réunions à partir d'ici</i></p>
</ion-header>


<ion-content [fullscreen]="true">
  <p>Bienvenu(e) {{nameUser}}</p>
  
  <!-- le boutton Fab est place dans l'extremite inferieur -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="optionSalle()" title="Cliquez pour créer une réunion">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
