<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Disponibilisez une salle de réunion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <div>
      <fieldset>
        <table>

          <tr>
            <td><ion-label position="floating" color="primary">N° de Salle </ion-label></td>
            <td><ion-input type="number" id="encercleCase" name='NumSalle' [(ngModel)]="salle.numSalle" #required></ion-input></td>
          </tr><br>
          
          <tr>
            <td><ion-label position="floating" color="primary">Date de Disponilité </ion-label></td>
            <td><ion-input type="Date" name='Date_Meet' [(ngModel)]="salle.dateDispo" #required></ion-input></td>
          </tr><br>
  
          <tr>
            <td><ion-label position="floating" color="primary">Heure début </ion-label></td>
            <td><ion-input type="time" name='Heure_debut' [(ngModel)]="salle.heure_debut" #required></ion-input></td>
          </tr><br>
  
          <tr>
            <td><ion-label position="floating" color="primary">Heure de fin </ion-label></td>
            <td><ion-input type="time" name='Heure_fin' [(ngModel)]="salle.heure_fin" #required></ion-input></td>
          </tr><br>

          <tr>
            <td><ion-label position="floating" color="primary">Statut</ion-label></td>
            <td><ion-select cancelText="Cancel" okText="OK" name="statutsalle" [(ngModel)]="salle.statutsalle" #required>
              <ion-select-option>Occupee</ion-select-option>
              <ion-select-option>Non occupee</ion-select-option>
            </ion-select></td>
          </tr>
        </table>
      
      </fieldset>
    </div>

    <div>
      <ion-button color="primary" class="submit-btn" expand="block" type="submit" (click)="registerMeet(form)">Valider >></ion-button>
    </div>
    </form>

</ion-content>
