<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>

  <!-- Listes des reunions -->
  <p class="smallText"><i>Vos réunions programmées se trouvent ici</i></p>
</ion-header>


<ion-content [fullscreen]="true">
  <p>Bienvenu(e) {{nameUser}}</p>
  
  <!-- le boutton fab est place dans l'extremite inferieur -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="print()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>