ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  .error-message
  {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .submit-btn {
    margin: 48px 12px 12px;
  }
}

.smallText{
  margin-top: auto;
  font-size: xx-small;
  color: cornflowerblue;
  margin-left: 17%;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
