<body>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h3>Inscription</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">

  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

      <div class="logo">
        <ion-icon color="primary" name="person-circle"></ion-icon>
      </div>

      <div>

        <ion-item>
          <ion-label position="floating" color="primary">Nom et Prenom</ion-label>
          <ion-input type="email" formControlName="username" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">E-mail</ion-label>
          <ion-input type="password" formControlName="email" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Direction</ion-label>
          <ion-input type="text" formControlName="drtion" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Rôle</ion-label>
          <ion-select placeholder="agent" cancelText="Cancel" okText="OK">
            <ion-select-option value="role3">Agent</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Mot de passe</ion-label>
          <ion-input type="text" formControlName="mdp" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Confirmer le Mot de passe</ion-label>
          <ion-input type="text" formControlName="mdp" #required></ion-input>
        </ion-item>

      </div> <br>

      <div>
        <ion-button type = "submit" color="primary" expand="block" shape="round" [disabled]="" (click)='submit(validations_form.value)'>Inscrire</ion-button>
        <!-- <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="">S'inscrire</ion-button> -->
      </div>

    </form>

</ion-content>
</body>