.logo {
    position: relative;
    height: 100px;
}

// Agrandir le logo de connexion
.logo ion-icon{
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}