<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title><h4>Mon Salon Interne</h4></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
<body>
  <!-- <ion-title position="floating" color="primary"><h2>Odre du jour</h2></ion-title> -->
  <form>
  <div>
    <fieldset>
      <table>
        
        <tr>
          <td><ion-label position="floating" color="primary"><b>Ordre du jour </b></ion-label></td>
          <ion-item>
            <td><ion-textarea type="text" #required></ion-textarea></td>
          </ion-item>
        </tr><br>

        <tr>
          <td><ion-label position="floating" color="primary">Date du Meet </ion-label></td>
          <td><ion-input type="Date" #required></ion-input></td>
        </tr><br>

        <tr>
          <td><ion-label position="floating" color="primary">Heure début </ion-label></td>
          <td><ion-input type="time" #required></ion-input></td>
        </tr><br>

        <tr>
          <td><ion-label position="floating" color="primary">Heure de fin </ion-label></td>
          <td><ion-input type="time" #required></ion-input></td>
        </tr>

      </table>

            <ion-list>
              <ion-item button style="color:rgb(30, 109, 255);"><ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                Choisir salle
              </ion-item>
              <ion-item button style="color:rgb(30, 109, 255);" (click)="voirParticipants()"><ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                Participants
              </ion-item>
            </ion-list>
    
    </fieldset>

  </div>
  <div>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="">Confirmer >></ion-button>
    <!-- <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Confirmer</ion-button> -->
  </div>
  </form>
</body>
</ion-content>
