<ion-header>
  <ion-toolbar>
    <ion-title>listPersonnes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Checkboxes in a List -->
  <ion-list>
    <ion-item *ngFor="let agent of listAgents">
      <ion-label>{{agent.username}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="agent.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
