<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!--  Formulaire d'authentification -->
    <ion-title><h3>Authentification</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">

  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

      <div class="logo">
        <ion-icon color="primary" name="person-circle"></ion-icon>
      </div>

      <div>

        <!-- Entrer vos informations personelles -->
        
        <ion-item>
          <ion-label position="floating" color="primary">E-mail</ion-label>
          <ion-input type="email" formControlName="mail" #required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Mot de passe</ion-label>
          <ion-input type="password" formControlName="mdp" #required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-button color="primary" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
        </ion-item>

      </div>

      <div>
        <ion-button type="submit" color="primary" expand="block" shape="round" [disabled]="" (click)='onSubmit(validations_form.value)'>Connexion</ion-button>
        <br>
        <ion-button color="secondary" expand="block" shape="round" fill="outline" routerLink='../inscription'>S'inscrire</ion-button>
      </div>
    </form>

</ion-content>